<ion-header>
  <app-header title="Balance"></app-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="no-height"></ion-item>

    <ion-item class="item-header">
      Saldo
    </ion-item>

    <ion-item>
      Saldo Inicial
      <div [ngClass]="can_edit ? 'item-note mr-15' : 'item-note mr-35'" item-end>
        ${{initial_balance | number}}
      </div>
      <ion-icon class="mr-0" name="create" item-end (click)="editInitialBalance()" *ngIf="can_edit"></ion-icon>
    </ion-item>

    <!-- Incomes -->
    <ion-item class="item-header">
      Ingresos
    </ion-item>

    <ion-item>
      Ingresos de clínicas
      <div class="item-note mr-35" item-end>
        ${{total_clinic_incomes | number}}
      </div>
    </ion-item>

    <ion-item>
      Ingresos de alquileres
      <div class="item-note mr-35" item-end>
        ${{total_department_incomes | number}}
      </div>
    </ion-item>

    <ion-item>
      Gastos de clínicas
      <div class="item-note mr-35" item-end>
        ${{total_clinic_outcomes | number}}
      </div>
    </ion-item>

    <ion-item>
      Otros ingresos
      <div class="item-note mr-35" item-end>
        ${{total_variable_incomes | number}}
      </div>
    </ion-item>

    <ion-item *ngIf="previous_month_merged">
      Ingresos del mes anterior
      <div class="item-note mr-35" item-end>
        ${{merged_month_balance.incomes | number}}
      </div>
    </ion-item>

    <ion-item class="total">
      Total ingresos
      <div class="item-note mr-35" item-end>
        ${{total_incomes | number}}
      </div>
    </ion-item>

    <!-- Outcomes -->
    <ion-item class="item-header">
      Gastos
    </ion-item>

    <ion-item>
      Gastos fijos
      <div class="item-note mr-35" item-end>
        ${{total_fixed_outcomes | number}}
      </div>
    </ion-item>

    <ion-item>
      Gastos variables
      <div class="item-note mr-35" item-end>
        ${{total_variable_outcomes | number}}
      </div>
    </ion-item>

    <ion-item>
      Gastos extra
      <div class="item-note mr-35" item-end>
        ${{total_extra_outcomes | number}}
      </div>
    </ion-item>

    <ion-item *ngIf="previous_month_merged">
      Gastos del mes anterior
      <div class="item-note mr-35" item-end>
        ${{merged_month_balance.outcomes | number}}
      </div>
    </ion-item>

    <ion-item class="total">
      Total gastos
      <div class="item-note mr-35" item-end>
        ${{total_outcomes | number}}
      </div>
    </ion-item>

    <!-- Cash -->
    <ion-item class="item-header">
      Caja
    </ion-item>

    <ng-container *ngIf="!month_merged">
      <ng-container *ngFor="let result of month_results">
        <ion-item *ngIf="!result.deleted || result.amount > 0">
          {{result.name | capitalize}}
          <div [ngClass]="can_edit ? 'item-note mr-15' : 'item-note mr-35'" item-end>
            ${{result.amount | number}}
          </div>
          <ion-icon class="mr-0" name="create" item-end (click)="editMonthResult(result)" *ngIf="can_edit"></ion-icon>
        </ion-item>
      </ng-container>
    </ng-container>

    <ion-item>
      Dólares
      <div class="item-note mr-35" item-end>
        ${{total_dollar_purchases | number}}
      </div>
    </ion-item>

    <ion-item *ngIf="previous_month_merged">
      Dólares del mes anterior
      <div class="item-note mr-35" item-end>
        ${{merged_month_balance.dollars | number}}
      </div>
    </ion-item>

    <!-- Balance -->
    <ion-item class="item-header">
      Balance
    </ion-item>

    <ion-item>
      Total registrado
      <div class="item-note mr-35" item-end>
        ${{registered_total | number}}
      </div>
    </ion-item>

    <ion-item *ngIf="!month_merged">
      Total caja
      <div class="item-note mr-35" item-end>
        ${{total_cash_resgister | number}}
      </div>
    </ion-item>

    <ion-item class="total" *ngIf="!month_merged">
      Diferencia
      <div class="item-note mr-35" item-end>
        ${{difference | number}}
      </div>
    </ion-item>

    <ion-item *ngIf="total_month_results && !month_merged">
      Ganancia
      <div class="item-note mr-35" item-end>
        ${{earnings | number}}
      </div>
    </ion-item>

    <ion-item class="no-height"></ion-item>
  </ion-list>

  <ion-row *ngIf="!month_merged && !previous_month_merged && !month_is_current && !total_month_results">
    <ion-col class="button-col">
      <button ion-button round (click)="mergeWithNextMonth()">Juntar con el mes siguiente</button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="month_merged">
    <ion-col class="button-col">
      <button ion-button round (click)="unmergeWithNextMonth()">Separar del mes siguiente</button>
    </ion-col>
  </ion-row>
</ion-content>
