page-configuration {
  .items-list{
    margin-bottom: 60px;
  }

  .styled-select{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: solid lightgrey 1px;
    left: 20%;
    position: relative;
    max-width: 60%;
    width: 60%;
  }

  .no-height{
    height: 0;
    min-height: 1rem;
  }

  .item-center{
    text-align: center;
  }
}
